

@import url('https://fonts.googleapis.com/css?family=Rubik:400');


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: 'NeueMetana-Bold';
    src: local('NeauMetana-Bold') url('../../fonts/NeueMetana-Bold.otf') format('otf');
  }
  @font-face {
    font-family: 'NeueMetana-Regular';
    src: local('NeauMetana-Regular'), url('../../fonts/NeueMetana-Regular.ttf') format('truetype');
    
  }
  
  // @font-face {
  //   font-family: 'Voyage-Regular';
  //   src: local('Voyage-Regular'), url('../../fonts/Voyage-Regular.woff') format('woff');
  // }

  @font-face {
    font-family: 'Berzulis-PIZIUS';
    src: local('Berzulis-PIZIUS'), url('../../fonts/Berzulis-PIZIUS.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Berzulis-BARSTUKAI-Regular';
    src: local('Berzulis-BARSTUKAI-Regular'), url('../../fonts/Berzulis-BARSTUKAI-Regular.ttf') format('truetype');
  }

//VARIABLES
///typography

$font-secondary: 'Poppins', sans-serif;
$font-title: 'NeueMetana-Bold';
$font-brand: 'Berzulis-BARSTUKAI-Regular';
$font-body : 'poppins-regular';
$text-color: 'Black';

//colors
$background-color:rgb(209, 190, 216);
$green-details: rgb(198, 215, 45);




