

@import url('https://fonts.googleapis.com/css?family=Rubik:400');



// @font-face {
//     font-family: 'NeueMetana-Bold';
//     src: local('NeauMetana-Bold') url('../../fonts/NeueMetana-Bold.otf') format('otf');
//   }
//   @font-face {
//     font-family: 'NeueMetana-Regular';
//     src: local('NeauMetana-Regular'), url('../../fonts/NeueMetana-Regular.ttf') format('truetype');
    
//   }
  
  // @font-face {
  //   font-family: 'Voyage-Regular';
  //   src: local('Voyage-Regular'), url('../../fonts/Voyage-Regular.woff') format('woff');
  // }

  @font-face {
    font-family: 'Berzulis-PIZIUS';
    src: local('Berzulis-PIZIUS'), url('../../fonts/Berzulis-PIZIUS.ttf') format('truetype');
  }

//VARIABLES
///typography

// $font-secondary: 'NeueMetana-Regular';
$font-title: 'Helvetica, Arial, sans-serif';
$font-brand: 'Berzulis-PIZIUS';
$font-body : 'Rubik';
$text-color: 'Black';

//colors
$background-color:rgb(209, 190, 216);
$green-details: rgb(198, 215, 45);




